html, body {
  min-height: 100%;
  width: 100%;
  display: flex;
}

.site-header {
  background: #d8f1e4;
  box-shadow: 0 0 10px 1px #194d33;
  padding: 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#root, .App {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.App {
  flex-direction: column;
}

.main {
  display: flex;
  flex-grow: 1;
}

.site-content {
  padding: 25px;
}

.site-sidebar {
  background: #d9dad9;
  box-shadow: 0 0 10px 1px #868686;
  max-width: 250px;
  width: 0;
  overflow: hidden;
  transition: all .5s;
}

input {
  border: none;
  border-radius: 25px;
  background: white;
  padding: 0 10px;
  box-shadow: 0 0 10px 1px #194d33;
  margin-right: 15px;
    width: 114px;
    flex-grow: 1;
}

button {
  box-shadow: 0 0 10px 1px #194d33;
  border: none;
  border-radius: 25px;
  background: white;
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

.site-sidebar.opened {
  width: 25%;
  padding: 25px;
}

.site-footer {
  background: #d8f1e4;
  box-shadow: 0 0 10px 1px #194d33;
  padding: 25px;
}

form {
  display: flex;
    flex-grow: 1;
}

.item-name-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.popup-holder {
    display: flex;
}

.popup-holder > button {
    margin-left: 20px;
}